// Put your custom CSS here!
// You an reference all variables in the Berkeley files
.staffer-badge.label-Pedagogy {
  background-color: #9C3848 !important;
  color: white !important;
}

// This affects the size of the course logo/name on the top left. We recommend commenting out/removing
// this styling if you are using just your course name rather than a course logo image
div.site-header {
  height: 100%;
  max-height: 150px;
}

// This affects the positioning of the course logo image (if it exists) on the top left
.site-logo {
  background-position: center;
}

.team {
  font-weight: bold !important;
  display: inline-block;
  padding-top: 0.16em;
  padding-bottom: 0.16em;
  padding-left: 0.56em;
  padding-right: 0.56em;

  font-size: 0.6em;

  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 6px;
}

.label-Professor {
  background-color: #624099;
  color: white;
}

.label-Infrastructure {
  background-color: #6c3800;
  color: white;
}

.label-Content {
  background-color: #823226;
  color: white;
}

.label-Course
{
  background-color: #9C3848;
  color: white;
}

.label-Assignments {
  background-color: #a36417;
  color: white;
}

.label-Student {
  background-color: #2c7f93;
  color: white;
}

.label-Projects {
  background-color: #913061;
  color: white;
}

.label-Logistics {
  background-color: #156115;
  color: white;
}

.label-Discussions {
  background-color: #3a615a;
  color: white;
}

.label-Grading {
  background-color: #c84e36;
  color: white;
}

